@charset "utf-8"
@import "../base"

#app
  font-family: $font-sans
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: $font-color
  margin-top: 60px
  .hello
    background-color: #fee

+desktop
  body
    font-size: $font-size
