@charset "utf-8"

.footer-top
  padding: 60px 0
  background-color: #000
  color: #fff
  a
    color: #fff
  .wrapper
    display: flex
    align-items: flex-start
  .logo
    margin-right: 30px
  .footer-columns
    display: flex
    flex-wrap: wrap
  .footer-column
    flex-basis: calc(100% / 3)
    padding: 0 15px
  .footer-title
    margin-bottom: 40px
    color: #fde488
    font-size: 18px
  .inner-list > li
    margin-bottom: 20px
    font-size: 14px

.footer-bottom
  padding: 20px 0
  .wrapper
    display: flex
    flex-direction: column
    align-items: center
  .copyright
    color: #555
    text-align: center
